body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#b8dd74;
    font-family:Arial, Helvetica, sans-serif;
}

.clock-container{
    width:450px;
    height:200px;
    background:#fd9efd;
    border:8px solid rgba(10, 1, 1, 0.881);
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}

#clock{
    color:rgba(24, 3, 3, 0.919);
    font-size:55px;
    font-weight:bold;
}